.fire {
  background-color: orange;
  color: black;
}

.water {
  background-color: blue;
  color: white;
}

.grass {
  background-color: green;
  color: white;
}

.electric {
  background-color: yellow;
  color: black;
}

.normal {
  background-color: beige;
  color: black;
}

.fighting {
  background-color: red;
  color: white;
}

.poison {
  background-color: purple;
  color: white;
}

.flying {
  background-color: rgb(173, 92, 243);
  color: white;
}

.ground {
  background-color: rgb(235, 161, 76);
  color: white;
}

.bug {
  background-color: greenyellow;
  color: black;
}

.rock {
  background-color: rgb(185, 100, 31);
  color: white;
}

.ghost {
  background-color: rgb(86, 36, 194);
  color: white;
}

.psychic {
  background-color: rgb(255, 121, 143);
  color: white;
}

.ice {
  background-color: rgb(30, 158, 181);
  color: white;
}

.dragon {
  background-color: rgb(91, 31, 222);
  color: white;
}

.dark {
  background-color: rgb(52, 23, 3);
  color: white;
}

.steel {
  background-color: gray;
  color: white;
}

.fairy {
  background-color: pink;
  color: black;
}